<hr>

<div style="width:100%;background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.5);color: #f1f1f1; ">
    <h2>Mission</h2>
    <div style="width:700px;padding:75px;margin:auto;">
        Our mission is to empower individuals and organizations by providing free, accessible, and comprehensive cybersecurity training. We aim to equip students, executives, and employees with the knowledge and skills necessary to navigate the evolving digital landscape securely. Through engaging, practical, and tailored education, we strive to foster a culture of cyber awareness and resilience, enabling a safer and more informed digital community.
    </div>

</div>